<br><br>
<div class="background">
  <br>
  <div class="container">
    <div class="row">


      <div class="col">
        Betrieben von
        <div class="footer-headline">EcoBoost Energy</div>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item footer-list"><p><a
            class="link-offset-2 link-underline link-underline-opacity-0 footer-link"
            href="#"><i class="fa-brands fa-twitter"></i> </a></p></li>
          <li class="list-group-item footer-list"><p><a
            class="link-offset-2 link-underline link-underline-opacity-0 footer-link"
            href="#"><i class="fa-brands fa-facebook"></i> </a></p></li>
          <li class="list-group-item footer-list"><p><a
            class="link-offset-2 link-underline link-underline-opacity-0 footer-link"
            href="#"><i class="fa-brands fa-instagram"></i> </a></p></li>
          <li class="list-group-item footer-list"><p><a
            class="link-offset-2 link-underline link-underline-opacity-0 footer-link"
            href="#"><i class="fa-brands fa-linkedin"></i> </a></p></li>
        </ul>
      </div>


      <div class="col">
        Diese Internetseite:
        <div class="link-style"><br><br>
          <p><a class="link-offset-2 link-underline link-underline-opacity-0 footer-link" href="#"><i class="fa-regular fa-house"></i> Startseite</a></p>
          <p><a class="link-offset-2 link-underline link-underline-opacity-0 footer-link" href="#"><i class="fa-regular fa-box"></i> Produkt</a></p>
          <p><a class="link-offset-2 link-underline link-underline-opacity-0 footer-link" href="#"><i class="fa-regular fa-buildings"></i> Konzern</a></p>
        </div>
      </div>


      <div class="col">
        Unternehmen:
        <div class="link-style"><br><br>
          <p><a class="link-offset-2 link-underline link-underline-opacity-0 footer-link" href="#"><i class="fa-regular fa-circle-info"></i> Impressum</a></p>
          <p><a class="link-offset-2 link-underline link-underline-opacity-0 footer-link" href="#"><i class="fa-regular fa-lock"></i> Datenschutz</a></p>
          <p><a class="link-offset-2 link-underline link-underline-opacity-0 footer-link" href="#"><i class="fa-regular fa-comments"></i> Kontakt</a></p>
        </div>
      </div>


    </div>
  </div>
  <br>
</div>

