.background {
  color: rgb(97, 96, 96);
  background-color: rgb(28, 28, 28);
}
.footer-link {
  color: white;
}

.footer-link:hover {
  color: rgb(230, 230, 230);
}

.link-style {
  line-height: 80%;
}

.footer-headline {
  color: white;
  font-size: 35px;
}

.footer-list {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
