<br><br>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="./assets/img/lime%20leaves.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nachhaltig in die Zukunft</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-card"><b>Weiterlesen</b></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="./assets/img/Lemon meets water.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Wasser trifft auf Zitrone</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-card"><b>Weiterlesen</b></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="./assets/img/farmer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Unsere Landwirte</h5>
          <p class="card-text"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-card"><b>Weiterlesen</b></a>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
