<div class="background">
  <br>
  <div class="text-center headline"><b>Hol dir jetzt deine </b><b class="highlight">Erfrischung</b></div>
  <div class="container">
    <div class="row">
      <div class="col"><img src="./assets/img/glas.png" class="card-img-top IMG"></div>
      <div class="col"><br><br>
        <div class="content">Erlebe ein nie da gewesenes Geschmackserlebnis</div>
        <div class="col-margin">
          <div class="content-sign">Wasser und Zitrone wird zu</div>
          <div class="content-name"><b>Wasserone</b></div>
          <div class="content-price"><a href="#" class="btn btn-card"><b>Kaufen</b></a> 0,49€ / 0,33L</div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
