.background {
  background-color: rgb(245, 245, 245);
}

.headline {
  font-size: 35px;

}

.highlight {
  background-color: rgb(122, 158, 255);
  width: max-content;
}

.IMG {
  width: 100%;
  height: 100%;
}

.content {
  font-size: 80px;
  line-height: 100%;
}

.content-sign {
  font-size: 35px;
}

.content-name {
  font-size: 40px;
}

.content-price {
  font-size: 25px;
}

.btn-card {
  background-color: rgb(231, 235, 2);
  border-radius: 10px;
  font-size: 25px;
}

.btn-card:hover {
  background-color: rgb(248, 252, 3);
  transform: scale(0.97);
}
