.headline {
  font-size: 45px;
}

.headline-underline {
  text-decoration: underline;
  text-decoration-color: rgb(248, 252, 3);

}
.content {
  font-size: 35px;
  line-height: 130%;
}

.underline {
  text-decoration: underline;
  text-decoration-color: rgb(248, 252, 3);
  font-size: 40px;
}
